.conteiner-card {
  background-color: #eae0d5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 100px;
}

.card {
  display: flex;
  align-items: center;
}

.text {
  color: #1f0303;
  text-align: justify;
  font-size: 16px;
  line-height: 1.9;
  margin-right: 20px;
}

.image {
  border-radius: 25px;
}

Meta title {
  font-size: 50px;
}

.list-conteiner {
  width: 200px;
}

/* Estilos para la lista desordenada */
.ul-list {
  list-style-type: none;
  padding: 0;
}

/* Estilos para los elementos de la lista */
.li-list {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
}

/* Estilos al pasar el mouse sobre los elementos */
.li-list:hover {
  transform: translateY(-4px);
}
