.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .btn-login {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    font-size: 34px;
    opacity: .8;
    transition: background-color 0.3s ease;
    user-select: none;
  }
  
  .btn-login:hover {
    background-color: #45a049;
  }
  
  .btn-login:active {
    background-color: #3e8e41;
  }
  
  .btn-login:focus {
    outline: none;
  }
  
.img-fondo {
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}


@media screen and (max-width:600px){
  .img-fondo {
    background-size: cover;
    background-position: center;
  }
}