/* Estilos para el contenedor principal */
.about-container {
  max-width: 800px;
  margin: 27px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para el título */
.about-description h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilos para los párrafos de la descripción */
.about-description p {
  margin-bottom: 10px;
}

/* Estilos para los enlaces de correo electrónico */
.about-description a {
  color: #007bff;
  text-decoration: none;
}

.about-description a:hover {
  text-decoration: underline;
}
